<h2>Править <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password, "Пароль" %> <i>(оставьте пустым, если не хотите менять пароль)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Подтверждение пароль" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password, "Текущий пароль" %> <i>(нам нужен текущий пароль для подтверждения изменений)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Обновить", class: "action_button" %></div>
<% end %>

<h3>Удалить учётную запись</h3>

<p><%= link_to "Удалить мою учётку", registration_path(resource_name), :confirm => "Вы уверены?", :method => :delete, class: "action_button" %>.</p>

<%= link_to "Назад", :back, class: "action_button" %>
