<p id="notice"><%= notice %></p>

<p>
  <b>Название:</b>
  <%= @event.name %>
</p>

<p>
  <b>Описание:</b>
  <%= @event.desc %>
</p>

<p>
  <b>Тип:</b>
  <%= @event.type %>
</p>

<p>
  <b>Начало:</b>
  <%= @event.start_date %>
</p>

<p>
  <b>Конец:</b>
  <%= @event.finish_date %>
</p>

<p>
  <b>Автор:</b>
  <%= @event.author.try(:login) %>
</p>

<%= render "games/show" %>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
