<p id="notice"><%= notice %></p>

<p>
  <b>Название:</b>
  <%= @event.name %>
</p>

<p>
  <b>Описание:</b>
  <%= @event.desc %>
</p>

<p>
  <b>Тип:</b>
  <%= @event.event_type %>
</p>

<p>
  <b>Начало:</b>
  <%= @event.start_date %>
</p>

<p>
  <b>Конец:</b>
  <%= @event.finish_date %>
</p>

<p>
  <b>Автор:</b>
  <%= @event.author.show_name %>
</p>

<%= render "games/show", game: @event.game %>


<%= link_to 'Править', edit_event_path(@event), class: "action_button" if can? :manage, @event %>
<%= link_to 'Назад', events_path, class: "action_button" %>
