<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br />
    <%= f.number_field :event_id %>
  </div>
  <div class="field">
    <%= f.label :format_id %><br />
    <%= f.number_field :format_id %>
  </div>
  <div class="field">
    <%= f.label :number %><br />
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :legend %><br />
    <%= f.text_area :legend %>
  </div>
  <div class="field">
    <%= f.label :prequel %><br />
    <%= f.text_area :prequel %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :area %><br />
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :brief_place %><br />
    <%= f.text_field :brief_place %>
  </div>
  <div class="field">
    <%= f.label :team_list %><br />
    <%= f.text_field :team_list %>
  </div>
  <div class="field">
    <%= f.label :dopy_list %><br />
    <%= f.text_field :dopy_list %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
