<% game ||= @event.game if @event.present? %>
<% if game.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

    <ul>
      <% game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="field">
  <%= f.label :format_id, "Формат", class: "caption" %>
  <%= f.grouped_collection_select(:format_id, @projects, :project_formats, :name, :id, :name, :prompt => true) %>
  <%#= f.number_field :format_id %>
</div>
<div class="field">
  <%= f.label :number, "Номер", class: "caption" %>
  <%= f.number_field :number %>
</div>
<div class="field">
  <%= f.label :legend, "Легенда", class: "caption" %>
  <%= f.text_area :legend %>
</div>
<div class="field">
  <%= f.label :prequel, "Приквел", class: "caption" %>
  <%= f.text_area :prequel %>
</div>
<div class="field">
  <%= f.label :price, "Цена", class: "caption" %>
  <%= f.number_field :price %>
</div>
<div class="field">
  <%= f.label :area, "Дозотория", class: "caption" %>
  <%= f.text_field :area %>
</div>
<div class="field">
  <%= f.label :brief_place, "Место брифинга", class: "caption" %>
  <%= f.text_field :brief_place %>
</div>
<div class="field">
  <%= f.label :team_list, "Список команд", class: "caption" %>
  <%= f.text_area :team_list %>
</div>
<div class="field">
  <%= f.label :dopy_list, "Дополнительные принадлежности", class: "caption" %>
  <%= f.text_area :dopy_list %>
</div>
