<div class="content game_<%= event.game.project.name.downcase %>">
  <b><%= event.start_date.strftime("%d.%m %H:%M") %></b>
  <h3>#<%= event.game.number %> - "<%= event.name %>"</h3>
  <p>(автор: <%= event.author.show_name %>)</p>
  <br><h4>Описание</h4>
  <p><%= event.desc %></p>


</div>