<p id="notice"><%= notice %></p>

<p>
  <b>Номер:</b>
  <%= game.number %>
</p>

<p>
  <b>Легенда:</b>
  <%= game.legend %>
</p>

<p>
  <b>Приквел:</b>
  <%= game.prequel %>
</p>

<p>
  <b>Цена:</b>
  <%= game.price %>
</p>

<p>
  <b>Дозотория:</b>
  <%= game.area %>
</p>

<p>
  <b>Место брифинга:</b>
  <%= game.brief_place %>
</p>

<p>
  <b>Список команд:</b>
  <%= game.team_list %>
</p>

<p>
  <b>Дополнительные принадлежности:</b>
  <%= game.dopy_list %>
</p>
