<div id="user_panel" class="nav">
  <ul>
    <% unless user_signed_in? %>
      <li><a href="<%= new_user_registration_path %>">Зарегистрироваться</a></li>
      <li><a href="<%= new_user_session_path %>">Войти</a></li>
    <% else %>
      <div><b><%= current_user.show_name %> (<%= current_user.site_role || "guest" %>)</b></div>
      <li><%= link_to "Личная страница", user_path(current_user) %></li>
      <li><a href="#">Сменить пароль</a></li>
      <li><%= link_to "Выйти", destroy_user_session_path, :method => :delete %></li>
    <% end %>
  </ul>
</div>